@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: Georgia, sans-serif;
}
.container {
    height: 2095px;
    width: 1000px;
    margin: 20px;
}
.logo{
    font-weight: 900;
    font-size: 25px;
    margin: 0;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
}
ul li {
    display: inline-block;
    margin: 0 10px;
    border-bottom: 1px solid black;
    line-height: 15px;
    list-style-type: none;
}

.content {
    margin: 7px 0 0 0;
}
.title {
    background-color: blue;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 30px;
    font-family: Roboto;
}
.title h1 {
    font-size: 65px;
    width: 700px;
}
.title p {
    font-size: 33px;
    width: 500px;
}
.desc{
    width: 700px;
    margin-top: 50px;
}
.desc p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
.desc h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: Roboto;
}
img {
    width: 100%;
    height: auto;
}
.note {
    width: 700px;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto;
}